@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    padding: 0;
    height: 100%;
    margin: 0;
  }
  body {
    font: 14px/1.4 ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, "Helvetica Neue", Arial;
  }
  #app { position: fixed; inset: 0; }
}

@layer components {
  #coverModal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    z-index: 2000;
  }

  #coverModal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.6);
  }
}
